<div *ngIf="user" class="member-container members-list">
  <h5>{{ groupName }}</h5>

  <div *ngIf="user.email == createdBy && !sorted" class="header">
    <button class="create-member-btn" (click)="addUser()">Aggiungi</button>
    <button [disabled]="members.length < 3" class="sort-btn" (click)="sort()">
      Estrai
    </button>
  </div>

  <ng-container *ngIf="sorted && myUser">
    <p>Dovrai fare il regalo a:</p>
    <div class="member-item">
      <div class="member-name">
        <span>{{
          myUser.firstName.length > 0
            ? myUser.firstName + " " + myUser.lastName
            : myUser.email
        }}</span>
      </div>
    </div>
  </ng-container>

  <p>Membri del gruppo:</p>
  <ng-container *ngFor="let member of members">
    <div class="member-item">
      <div class="member-name">
        <span>{{
          member.firstName.length > 0
            ? member.firstName + " " + member.lastName
            : member.email
        }}</span>
        <mat-icon *ngIf="createdBy == member.email">star</mat-icon>
      </div>
      <div class="member-actions">
        <button
          *ngIf="
            member.email != createdBy && user.email == createdBy && !sorted
          "
          class="remove-btn"
          (click)="removeUser(member.email)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</div>
