<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>{{ data.title }}</mat-label>
      <input matInput formControlName="control" />
      <!-- Display custom error message if the validator finds an error -->
      <small *ngIf="control?.hasError('forbidden')">
        L'e-mail è già presente nella lista
      </small>
      <small *ngIf="control?.hasError('email')"
        >Indirizzo e-mail non valido</small
      >
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button
    cdkFocusInitial
    [disabled]="form.invalid"
    (click)="closeDialog()"
  >
    Ok
  </button>
</mat-dialog-actions>
