.group-container {
  margin: auto;
  padding: 1rem;
  max-width: 800px;
  background-color: transparent; // A slightly lighter background for the container
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 10px;

  h2 {
    color: #f4f4f4; // Light color for the user group header
    font-size: 1.6rem;
    margin: 0;
    line-height: 2rem;
    text-align: right;
  }
}

.create-group-btn {
  background-color: #c4a300; // Accent color for the button
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #b38b00; // Slightly darker golden color on hover
  }
}

.groups-list {
  margin-top: 1.5rem;
}

.group-item {
  background-color: #3c3b4b; // Slightly lighter background for each group item
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .group-name {
    span {
      color: #e0e0e0; // Light gray color for group name
    }
    mat-icon {
      color: #ffc803;
    }
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .group-actions {
    display: flex;
    gap: 0.5rem;

    button {
      padding: 0.6rem 1rem;
      font-size: 0.9rem;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.view-btn {
        background-color: transparent; // Muted accent for view button
        color: #fff;
        display: flex;
        align-items: center;
        padding: 0;

        &:hover {
          background-color: #5a636a; // Darker muted color on hover
        }
      }

      &.delete-btn {
        background-color: transparent; // Teal accent for add button
        color: #fff;
        padding: 0;
        display: flex;
        align-items: center;

        &:hover {
          background-color: #138496; // Darker teal on hover
        }
      }
    }
  }
}
