<div *ngIf="user" class="group-container">
  <div class="header">
    <button class="create-group-btn" (click)="createGroup()">
      Crea Gruppo
    </button>
  </div>

  <div class="groups-list">
    <div *ngFor="let group of groups" class="group-item">
      <div class="group-name">
        <span>{{ group.name }}</span>
        <mat-icon *ngIf="group.createdBy == user.email">star</mat-icon>
      </div>
      <div class="group-actions">
        <button class="view-btn" (click)="viewGroup(group.id)">
          <mat-icon> arrow_forward </mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
